@charset "UTF-8";

body, select, input, textarea {
  color: #4d4d4d;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 112.5%;
  line-height: 1.65;
  font-weight: normal;
}

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

abbr, acronym, blockquote, code, dir, kbd, listing, plaintext, q, samp, tt, var, xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  margin-top: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 0.495em;
}

h2 {
  font-size: 48px;
  font-size: 2.6667rem;
  margin-bottom: 0.61875em;
}

h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.825em;
}

h4 {
  font-size: 24px;
  font-size: 1.3333333333333333rem;
  margin-bottom: 1.2375em;
}

h5 {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 1.4142857142857141em;
}

h6 {
  font-size: 18px;
  font-size: 1rem;
  /* 18 = 18 × 1 */
  margin-bottom: 1.65em;
}

p {
  margin: auto auto 1.5em;
}

a {
  color: #428bca;
}

a:hover {
  color: #2a6496;
}

.small {
  font-size: 73.125%;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

.nav {
  list-style: none;
  margin-left: 0;
  *zoom: 1;
}
.nav:before, .nav:after {
  content: "";
  display: table;
}
.nav:after {
  clear: both;
}
.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  margin: 0;
  font-family: inherit;
  line-height: 1.65;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  -webkit-transition: 0.1s linear -webkit-box-shadow;
  -moz-transition: 0.1s linear -moz-box-shadow;
  -ms-transition: 0.1s linear box-shadow;
  -o-transition: 0.1s linear box-shadow;
  transition: 0.1s linear box-shadow;
}

.btn:hover, .btn:focus {
  background-color: #2a6496;
  color: #fff;
  text-decoration: none;
}

.btn:active {
  outline: none;
  background-image: none;
}

.btn-primary {
  background-color: #428bca;
}

.btn-secondary {
  border: solid 1px #b3b3b3;
  color: #4d4d4d;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: #e6e6e6;
  color: #4d4d4d;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 168.75%;
  line-height: inherit;
  border: 0;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

textarea {
  height: auto;
  resize: vertical;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type="file"] {
  display: block;
}

select[multiple],
select[size] {
  height: auto;
}

select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

input, textarea {
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  padding: 10px 0px;
  text-indent: 15px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
}

table {
  width: 100%;
}

[colspan] {
  text-align: center;
}

[rowspan] {
  vertical-align: middle;
}

.numerical {
  text-align: right;
}

img {
  max-width: 100%;
}

img[width],
img[height] {
  max-width: none;
}

figure > img {
  display: block;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

pre code {
  word-wrap: normal;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

pre {
  white-space: pre;
}

code {
  white-space: pre;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

html {
  overflow-y: scroll;
  min-height: 100%;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

::-moz-selection {
  background: #428bca;
  color: white;
  text-shadow: none;
}

::selection {
  background: #428bca;
  color: white;
  text-shadow: none;
}

.pattern {
  margin: 3em 0 3em 0;
}

#ptn-colors {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.ptn-container {
  width: 150px;
  display: inline-block;
  margin: 30px 30px 0 0;
  text-align: center;
  font-style: italic;
}

.ptn-color {
  height: 150px;
}

.ptn-container p {
  margin: 0;
}

#primary {
  background-color: #428bca;
}

#secondary {
  background-color: #5cb85c;
}

#tertiary {
  background-color: #f0ad4e;
}

#accent {
  background-color: #d9534f;
}

form {
  width: 50%;
}

input, textarea {
  margin-bottom: 2em;
  width: 100%;
}

@media (max-width: 850px) {
  form {
    width: 100%;
  }
}
.btn {
  margin-bottom: 3em;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #4d4d4d;
  padding: 0.2em 0;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
