// -------------------------------------------------------------------------
// COLORS
// -------------------------------------------------------------------------


// Grayscale
$black-10:                      darken(#fff, 10%);
$black-20:                      darken(#fff, 20%);
$black-30:                      darken(#fff, 30%);
$black-40:                      darken(#fff, 40%);
$black-50:                      darken(#fff, 50%);
$black-60:                      darken(#fff, 60%);
$black-70:                      darken(#fff, 70%);
$black-80:                      darken(#fff, 80%);
$black-90:                      darken(#fff, 90%);


// Main Colors
$color-primary:                 #A1CF32;
$color-secondary:               #5cb85c;
$color-tertiary:                #f0ad4e;
$color-accent:                  #d9534f;


// Text
$color-text:                    $black-50;


// Links
$color-link:                    $color-primary;
$color-link-hover:              $black-20;