// -------------------------------------------------------------------------
// NOTES
// -------------------------------------------------------------------------


// This is where your main styling goes, including whatever isn't covered by the modular stylesheets. It's usually divided up by sections of the website (header, body, footer, etc) in order to remain organized.



// -------------------------------------------------------------------------
// HOMEPAGE
// -------------------------------------------------------------------------


.download1 {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 203px;
    margin: 0;
    text-align: right;
    @media (max-width: 1290px) {
        position: inherit;
        margin-top: 5em;
    }
}


footer {
    margin: 5em 0;
}


.download2 {
    @include hidden();
    @media (max-width: 1290px) {
        display: inherit !important;
        visibility: visible !important;
        width: 203px;
        margin-bottom: 5em;
        position: inherit;
    }
}