// -------------------------------------------------------------------------
// ABOUT THE SECTIONS SHEET
// -------------------------------------------------------------------------


// By default, Pear has this stylesheet called "Sections". This is meant to be the place where you dump all the styling that wouldn't appropriately be covered in the other stylesheets. It is divided up by "sections" of your site such as the header, body, sidebar, and footer so that you can stay more organized.


// Obviously, if this type of stylesheet organization isn't your cup o' tea, feel free to change/switch/modify/adapt/alter to your heart's content.


// -------------------------------------------------------------------------
// *
// -------------------------------------------------------------------------


html {
    overflow-y: scroll;
    min-height: 100%;
}


body {
    // For now, this is !important because the ::selection (below) affects the background color in IE
    background-color: #fff !important;
    margin: 0;
    padding: 0;
	// Ala Trent Walton: http://trentwalton.com/2011/09/07/css-hyphenation
    -webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}


// Remove text-shadow in selection highlight: h5bp.com/i
// These selection rule sets have to be separate.
// Color is set by default to your primary brand color.
::-moz-selection {
    background: $color-primary;
    color: white;
    text-shadow: none;
}
::selection {
    background: $color-primary;
    color: white;
    text-shadow: none;
}


// -------------------------------------------------------------------------
// PATTERNS
// -------------------------------------------------------------------------


.pattern {
    margin: 3em 0 3em 0;
}


#ptn-colors {
    display: table;
    margin-left: auto;
    margin-right: auto;
}


.ptn-container {
    width: 150px;
    display: inline-block;
    margin: 30px 30px 0 0;
    text-align: center;
    font-style: italic;
}


.ptn-color {
    height: 150px;
}


.ptn-container p {
    margin: 0;
}


#primary {
    background-color: $color-primary;
}


#secondary {
    background-color: $color-secondary;
}


#tertiary {
    background-color: $color-tertiary;
}


#accent {
    background-color: $color-accent;
}


form {
    width: 50%;
}


input, textarea {
    margin-bottom: 2em;
    width: 100%;
}


@media (max-width: 850px) {
    form {
        width: 100%;
    }
}


.btn {
    margin-bottom: 3em;
}


// -------------------------------------------------------------------------
// HEADER
// -------------------------------------------------------------------------





// -------------------------------------------------------------------------
// SIDEBAR
// -------------------------------------------------------------------------





// -------------------------------------------------------------------------
// BODY
// -------------------------------------------------------------------------





// -------------------------------------------------------------------------
// FOOTER
// -------------------------------------------------------------------------


