code {
    padding: 0.166rem 0.333rem;
    background-color: $black-10;
    border-radius: $border-radius;
}

pre {
    padding: 0.666rem 1rem;
    background-color: $black-10;
    border: 1px solid $black-30;
    border-radius: $border-radius;
}