table, 
.table {
    width: 100%;
    font-family: $font-family-sans-serif;

    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: 0.666rem;
                border-top: 1px solid $black-30;
            }
        }
    }

    > thead > tr {
        > th,
        > td {
        border-top: none;
            border-bottom-width: 2px;
        }
    }
}