// -------------------------------------------------------------------------
// NORMALIZATION AND GOOD PRACTICES
// -------------------------------------------------------------------------


// Normalize non-control form elements:

select, input, textarea {
    color: $color-text;
}


// Remove default fieldset styles.
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


legend {
    display: block;
    width: 100%;
    font-size: ($font-size-base * 1.5);
    line-height: inherit;
    white-space: normal;
}


label {
    display: inline-block;
    cursor: default;
}


// Reset height for textareas
// Allow only vertical resizing of textareas.
textarea {
    height: auto;
    resize: vertical;
}


input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    margin: 1px 7px 0 0;
    margin-top: 1px; // IE8-9
    vertical-align: middle;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-style: solid;
    border-width: 1px;
    height: 22px;
    width: 22px;
    cursor: pointer;
}


input[type="radio"] {
    border-radius: 100%;
}


input[type="checkbox"] {
    border-radius: 4px;
}


input[type="radio"]:checked,
input[type="checkbox"]:checked {
    border-color: darken($color-primary, 5%);
    background: $color-primary !important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
}


input[type="radio"]:checked::after {
    display: block;
    position: relative;
    content: '';
    left: 5px;
    top: 5px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: #fff;
}


input[type="checkbox"]:checked::after {
display: block;
position: relative;
content: '';
left: 3px;
top: 4px;
height: 8px;
width: 14px;
border-bottom: 4px solid white;
border-left: 4px solid white;
-webkit-transform: rotate(-45deg);
}


// Set the height of select and file controls to match text inputs
// Normalize file input width
input[type="file"] {
    display: block;
    width: 100%;
}


// Make multiple select elements height not fixed
select[multiple],
select[size] {
    height: auto;
}


// Fix optgroup Firefox bug per https://github.com/twbs/bootstrap/issues/7611
select optgroup {
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
}


select {
    -webkit-appearance: none !important;
    width: 100%;
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: center right 3%;
    border: 1px solid #cccccc;
    padding: 10px 0 10px 15px;
    -webkit-border-radius: 0;
    border-radius: 4px;
}


// Fix for Chrome number input
// Setting certain font-sizes causes the `I` bar to appear on hover of the bottom increment button.
// See https://github.com/twbs/bootstrap/issues/8350 for more.
input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        height: auto;
    }
}


// Adjust output element
output {
    display: block;
    vertical-align: middle;
}


input,
button, 
select,
label, {
    vertical-align: middle;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}


select:focus, input:focus, textarea:focus {
    outline: 0;
}


// -------------------------------------------------------------------------
// SOME DEFAULT STYLING
// -------------------------------------------------------------------------


input, textarea {
    display: block;
    width: 100%;
    max-width: 100%; // Prevents them from breaking out of container
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
    padding: 10px 0px;
    font-size: inherit;
    font-family: inherit;
    text-indent: 15px;
    vertical-align: middle;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    // Border color transition
    -webkit-transition: background-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition-property: background-color, box-shadow;
    -webkit-transition-duration: 0.15s, 0.15s;
    -webkit-transition-timing-function: ease-in-out, ease-in-out;
    -webkit-transition-delay: initial, initial;
    transition: background-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: initial, initial;
    
    // Reset height for `textarea`s
    textarea {
        height: auto;
    }
}


::-webkit-input-placeholder { color: lighten($color-text, 7%); }
:-moz-placeholder { color: lighten($color-text, 7%); }
::-moz-placeholder { color: lighten($color-text, 7%); }
:-ms-input-placeholder { color: lighten($color-text, 7%); }


input:focus, textarea:focus {
    //border-color: $color-primary;
    background-color: #fff;
    border-color: $black-30;
    //-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px rgba(102,175,233,0.6);
    //box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px rgba(102,175,233,0.6);
}