        <!-- jQuery from CDN -->
        <script
              src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
              integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
              crossorigin="anonymous"></script>

        <!-- The compiled JavaScript file -->
        <script src="js/production.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    </body>
</html>
