// -------------------------------------------------------------------------
// NOTES
// -------------------------------------------------------------------------

// Tools to use for improved coding.

// -------------------------------------------------------------------------
// A FEW UTILITY PLACEHOLDERS
// -------------------------------------------------------------------------

// Clearfix
%clearfix {
	*zoom:1;

	&:before,
	&:after {
	    content: "";
	    display: table;
	}

	&:after {
	    clear: both;
	}
}

// Use this to hide from both screenreaders and browsers: h5bp.com/u
%hidden {
    display: none !important;
    visibility: hidden;
}