// -------------------------------------------------------------------------
// PATTERN LIBRARY
// -------------------------------------------------------------------------

// This is the styling for the default pattern library that comes with Pear. Delete this entire sheet if you're not using it.

.pattern {
    margin: 3rem 0 3rem 0;
}

.colors {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.color-container {
    display: inline-block;
    width: 8.325rem;
    margin: 1.666rem 1.666rem 0 0;
    text-align: center;
    font-style: italic;
}

.pattern-color {
    height: 8.325rem;
}

.color-container p {
    margin: 0;
}

// Colors
.color-primary {
    background-color: $color-blue;
}

.color-secondary {
    background-color: $color-green;
}

.color-tertiary {
    background-color: $color-orange;
}

.color-accent {
    background-color: $color-red;
}

// Icons
.icons {
    p {
        text-align: center;
    }
}

// Forms
form {
    width: 50%;
    margin: 0 auto;
    @media (max-width: 850px) {
        width: 100%;
    }
}

input, 
textarea {
    margin-bottom: 2rem;
}

.input-checks-block {
    margin-bottom: 2rem;
}

.input-checks {
    display: block;
    margin-bottom: 0.666rem;
}

.search-form {
    position: relative;

    input {
        padding-left: 1.666rem;
    }
}

.search-icon {
    position: absolute;
    @include rem(top, 15px);
    @include rem(left, 7px);
    @include rem(width, 34px);
    @include rem(height, 34px);
    text-align: center;
    color: lighten($color-text, 7%);
}

.btn {
    margin: 0 0.666rem 0.666rem 0;
}

// Grid
.grid-filler {
    padding: 1rem;
    text-align: center;
    font-family: $font-family-sans-serif;
    color: $color-text;
    background-color: $black-10;
    border-radius: $border-radius;
    border: 1px solid darken($black-10, 3%);
}

.col-three { 
    @include column(3); 
}

.col-two { 
    @include column(2); 
}

.col-nine { 
    @include column(9); 
}

.col-four { 
    @include column(4); 
}

.full {
    width: 100%;
}

@media (max-width: 600px) {
    .grid-unit { 
        width: 100%; 
    }
    
    .row {
        margin-bottom: 0;
    }
}

// Media Query
@media (max-width: 900px) {
    html {
        font-size: 16px;
    }
}