// -------------------------------------------------------------------------
// PATTERN LIBRARY
// -------------------------------------------------------------------------

// This is some example styling for the default pattern library that comes with Pear. Delete this entire sheet if you're not using it.

.container {
    @include outer-container;
    width: 90%;
}

.pattern {
    margin: 3rem 0 3rem 0;
}

.colors {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.color-container {
    display: inline-block;
    width: 8.325rem;
    margin: 1.666rem 1.666rem 0 0;
    text-align: center;
    font-style: italic;
}

.pattern-color {
    height: 8.325rem;
}

.color-container p {
    margin: 0;
}

// Colors
.color-primary {
    background-color: $color-blue;
}

.color-secondary {
    background-color: $color-green;
}

.color-tertiary {
    background-color: $color-orange;
}

.color-accent {
    background-color: $color-red;
}

// Code
code {
    padding: 0.166rem 0.333rem;
    background-color: $black-10;
    border-radius: $border-radius;
}

pre {
    padding: 0.666rem 1rem;
    background-color: $black-10;
    border: 1px solid $black-30;
    border-radius: $border-radius;
}

// Icons
.icons {
    p {
        text-align: center;
    }
}

// Forms
form {
    width: 50%;
    margin: 0 auto;
    @media (max-width: 850px) {
        width: 100%;
    }
}

input, 
textarea {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.666rem 0;
    text-indent: 0.666rem;
    background-color: $light-grey;
    border: 1px solid $black-20;
    border-radius: $border-radius;
    @include transition(background-color $fade, box-shadow $fade);
}

.input-checks-block {
    margin-bottom: 2rem;
}

.input-checks {
    display: block;
    margin-bottom: 0.666rem;
}

.search-form {
    position: relative;

    input {
        padding-left: 1.666rem;
    }
}

.search-icon {
    position: absolute;
    @include rem(top, 15px);
    @include rem(left, 7px);
    @include rem(width, 34px);
    @include rem(height, 34px);
    text-align: center;
    color: lighten($color-text, 7%);
}

::-webkit-input-placeholder { 
    color: $black-40; 
}
:-moz-placeholder { 
    color: $black-40; 
}
::-moz-placeholder { 
    color: $black-40; 
}
:-ms-input-placeholder { 
    color: $black-40; 
}

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    margin: 0 0.666rem 0.666rem 0;
    padding: 0.333rem 1rem;
    color: #fff;
    border-radius: $border-radius;
    @include transition(background-color $fade, color $fade);
}

.btn:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.15);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.15);
}

.btn-primary {
    background-color: $color-blue;
    border-bottom: darken($color-blue, 10%); // Override inherited `a` tag hover bottom border (_typography.scss)
    border: 1px solid darken($color-blue, 4%);
}

.btn-primary:hover, 
.btn-primary:focus {
    color: #fff;
    background-color: $black-60;
    border: 1px solid $black-60;
}

.btn-secondary {
    color: $color-text;
    border: solid 1px $black-30;
    background: transparent;
}

.btn-secondary:hover, 
.btn-secondary:focus {
    color: #fff;
    background-color: $color-green;
    border: 1px solid $color-green;
}

.btn-large {
    padding: 0.666rem 1.333rem;
    @extend %h4;
}

// Tables
table, 
.table {
    width: 100%;
    font-family: $font-family-sans-serif;

    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: 0.666rem;
                border-top: 1px solid $black-30;
            }
        }
    }

    > thead > tr {
        > th,
        > td {
        border-top: none;
            border-bottom-width: 2px;
        }
    }
}

// Media Query
@media (max-width: 900px) {
    html {
        font-size: 16px;
    }
}