// Base Button

.btn,
.btn:visited,
button,
button:visited,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    margin: 0 0.666rem 0.666rem 0;
    padding: 0.333rem 1rem;
    color: #fff;
    border-radius: $borderRadius;
    transition: background-color $fade, color $fade, border $fade;
}

.btn:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.15);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.15);
}

// Primary Button

.btnPrimary {
    background-color: $colorBlue;
    border: 1px solid darken($colorBlue, 5%);
}

.btnPrimary:hover, 
.btnPrimary:focus {
    color: #fff;
    background-color: darken($colorBlue, 10%);
    border: 1px solid darken($colorBlue, 10%);
}

// Secondary Button

.btnSecondary {
    color: $colorText;
    border: solid 1px $black30;
    background: transparent;
}

.btnSecondary:hover, 
.btnSecondary:focus {
    color: #fff;
    background-color: $colorGreen;
    border: 1px solid $colorGreen;
}

// Large Button

.btnLarge {
    padding: 0.666rem 1.333rem;
    @extend %h4;
}