code {
    padding: 0.166rem 0.333rem;
    background-color: $black10;
    border-radius: $borderRadius;
}

pre {
    padding: 0.666rem 1rem;
    background-color: $black10;
    border: 1px solid $black30;
    border-radius: $borderRadius;
}