// Styling used to create the elements and layout for the pattern library 
// template.

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}

.pattern {
    margin: 3rem 0 3rem 0;
}

.colors {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.colorContainer {
    display: inline-block;
    width: 8.325rem;
    margin: 1.666rem 1.666rem 0 0;
    text-align: center;
    font-style: italic;
}

.patternColor {
    height: 8.325rem;
}

.colorContainer p {
    margin: 0;
}

.colorPrimary {
    background-color: $colorBlue;
}

.colorSecondary {
    background-color: $colorGreen;
}

.colorTertiary {
    background-color: $colorOrange;
}

.colorAccent {
    background-color: $colorRed;
}

.icons {
    p {
        text-align: center;
    }
}

.inputChecksBlock {
    margin-bottom: 2rem;
}

.inputChecks {
    display: block;
    margin-bottom: 0.666rem;
}

.searchForm {
    position: relative;

    input {
        padding-left: 1.666rem;
    }
}

.searchIcon {
    position: absolute;
    top: .9rem;
    left: .38889rem;
    width: 1.88889rem;
    height: 1.88889rem;
    text-align: center;
    color: lighten($colorText, 7%);
}

.selectWrapper {
    margin-bottom: 1.666rem;
}

.controlWrapper {
    margin-bottom: 2rem;
}