// -------------------------------------------------------------------------
// COLORS
// -------------------------------------------------------------------------

// Grayscale
$light-grey:					#f7f7f7;
$black-10:                      #e6e6e6;
$black-20:                      #cdcdcd;
$black-30:                      #b3b3b3;
$black-40:                      #9a9a9a;
$black-50:                      #808080;
$black-60:                      #676767;
$black-70:                      #4d4d4d;
$black-80:                      #343434;
$black-90:                      #1a1a1a;

// Color by name
$color-blue:                 	#428bca;
$color-green:               	#5cb85c;
$color-orange:                	#f0ad4e;
$color-red:                 	#d9534f;

// Color by purpose
$color-primary:					$color-blue;
$color-secondary:				$color-green;
$color-tertiary:				$color-orange;
$color-accent:					$color-red;

// Text
$color-text:                    $black-70;

// Links
$color-link:                    $color-blue;
$color-link-hover:              darken($color-link, 15%);

// -------------------------------------------------------------------------
// TYPOGRAPHY
// -------------------------------------------------------------------------

// Font Families
$font-family-sans-serif:        "Helvetica Neue", Trebuchet, Tahoma, Verdana, sans-serif;
$font-family-serif:             Georgia, Times, serif;
$font-family-monospace:         Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:              $font-family-sans-serif;

// Font Sizes
// Need to change $base-font-size in the rem mixin in _utilities if you want to you that mixin
// Great tool for choosing font sizes: http://type-scale.com/
$font-size-base:             	112.5 !default; // percentage value (16 * 112.5% = 18px)
$font-size-base-pixels:			16px * ($font-size-base/100) !default;
$font-size-large:               1.333rem;
$font-size-small:               .666rem;

// Line Height
$line-height-base:              1.666rem !default;

// Baseline
// I usually make my baseline a divisible number of the base line height. Then all my other vertical margins, paddings, and line heights are a multiple of this baseline to create a vertical rhythm.
$baseline: 						0.333rem;

// Headings
$headings-font-family:          inherit;
$headings-font-weight:          700;

// Body Copy
$body-font-family:				$font-family-base;

// -------------------------------------------------------------------------
// MARGINS
// -------------------------------------------------------------------------

$margin-small:					1rem;
$margin-medium:					2rem;
$margin-large:					3rem;

// Bottom margin for paragraphs
$p-margin-bottom:               1.333rem;

// -------------------------------------------------------------------------
// PADDING
// -------------------------------------------------------------------------

$padding-small:					1rem;
$padding-medium:				2rem;
$padding-large:					3rem;

// -------------------------------------------------------------------------
// BORDERS
// -------------------------------------------------------------------------

$border-radius:					4px;

// -------------------------------------------------------------------------
// ANIMATIONS
// -------------------------------------------------------------------------

$fade:							.15s ease-out;
$movement:						.15s ease-in-out;

// -------------------------------------------------------------------------
// HEADING REPLICATION
// -------------------------------------------------------------------------

// For replicating heading sizes, copied from "Typography" sheet

%h1 {
    font-size: 3rem;
}

%h2 {
    font-size: 2.333rem;
}

%h3 {
    font-size: 1.666rem;
}

%h4 {
    font-size: 1.333rem;
}

%h5 {
    font-size: 1rem;
}

%h6 {
    font-size: .666rem;
}