// -------------------------------------------------------------------------
// COLORS
// -------------------------------------------------------------------------

// Grayscale
$lightGrey:					    #f7f7f7;
$black10:                       #e6e6e6;
$black20:                       #cdcdcd;
$black30:                       #b3b3b3;
$black40:                       #9a9a9a;
$black50:                       #808080;
$black60:                       #676767;
$black70:                       #4d4d4d;
$black80:                       #343434;
$black90:                       #1a1a1a;

// Color by name
$colorBlue:                 	#428bca;
$colorGreen:               	    #5cb85c;
$colorOrange:                	#f0ad4e;
$colorRed:                 	    #d9534f;

// Color by purpose
$colorPrimary:					$colorBlue;
$colorSecondary:				$colorGreen;
$colorTertiary:				    $colorOrange;
$colorAccent:					$colorRed;

// Text
$colorText:                     $black70;

// Links
$colorLink:                     $colorBlue;
$colorLinkHover:                darken($colorLink, 15%);

// -------------------------------------------------------------------------
// TYPOGRAPHY
// -------------------------------------------------------------------------

// Font Families
$fontFamilySans:                "Helvetica Neue", Trebuchet, Tahoma, Verdana, sans-serif;
$fontFamilySerif:               Georgia, Times, serif;
$fontFamilyMonospace:           Monaco, Menlo, Consolas, "Courier New", monospace;
$fontFamilyBase:                $fontFamilySans;

// Font Sizes
// Great tool for choosing font sizes: http://type-scale.com/
$fontSizeBase:             	    112.5 !default; // percentage value (16 * 112.5% = 18px)
$fontSizeBasePixels:			16px * ($fontSizeBase/100) !default;
$fontSizeLarge:                 1.333rem;
$fontSizeSmall:                 .666rem;

// Line Height
$lineHeightBase:                1.666rem !default;

// Baseline
// Usually it's good practice to make the baseline a divisible number of 
// the base line height. Then all the other vertical margins, paddings, and
// line heights are a multiple of this baseline to create a vertical rhythm.
$baseline: 						0.333rem;

// Headings
$headingsFontFamily:            inherit;
$headingsFontWeight:            700;

// Body Copy
$bodyFontFamily:				$fontFamilyBase;

// -------------------------------------------------------------------------
// MARGINS
// -------------------------------------------------------------------------

$marginSmall:					1rem;
$marginMedium:					2rem;
$marginLarge:					3rem;

// Bottom margin for paragraphs
$pMarginBottom:                 1.333rem;

// -------------------------------------------------------------------------
// PADDING
// -------------------------------------------------------------------------

$paddingSmall:					1rem;
$paddingMedium:				    2rem;
$paddingLarge:					3rem;

// -------------------------------------------------------------------------
// BORDERS
// -------------------------------------------------------------------------

$borderRadius:					4px;

// -------------------------------------------------------------------------
// ANIMATIONS
// -------------------------------------------------------------------------

$fade:							.15s ease-out;
$movement:						.15s ease-in-out;

// -------------------------------------------------------------------------
// HEADING REPLICATION
// -------------------------------------------------------------------------

// For replicating heading sizes, copied from "Typography" sheet

%h1 {
    font-size: 3rem;
}

%h2 {
    font-size: 2.333rem;
}

%h3 {
    font-size: 1.666rem;
}

%h4 {
    font-size: 1.333rem;
}

%h5 {
    font-size: 1rem;
}

%h6 {
    font-size: .666rem;
}