// -------------------------------------------------------------------------
// COLORS
// -------------------------------------------------------------------------

// Grayscale
$light-grey:					#f7f7f7;
$black-10:                      darken(#fff, 10%);
$black-20:                      darken(#fff, 20%);
$black-30:                      darken(#fff, 30%);
$black-40:                      darken(#fff, 40%);
$black-50:                      darken(#fff, 50%);
$black-60:                      darken(#fff, 60%);
$black-70:                      darken(#fff, 70%);
$black-80:                      darken(#fff, 80%);
$black-90:                      darken(#fff, 90%);

// Main Colors
$color-blue:                 	#428bca;
$color-green:               	#5cb85c;
$color-orange:                	#f0ad4e;
$color-red:                 	#d9534f;

// Text
$color-text:                    $black-70;

// Links
$color-link:                    $color-blue;
$color-link-hover:              darken($color-link, 15%);

// -------------------------------------------------------------------------
// TYPOGRAPHY
// -------------------------------------------------------------------------

// Font Families
$font-family-sans-serif:        "Helvetica Neue", Trebuchet, Tahoma, Verdana, sans-serif;
$font-family-serif:             Georgia, Times, serif;
$font-family-monospace:         Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:              $font-family-sans-serif;

// Font Sizes
$font-size-base:             	112.5 !default; // percentage value (16 * 112.5% = 18px)
$font-size-base-pixels:			16px * ($font-size-base/100) !default;
$font-size-large:               ($font-size-base-pixels * 1.3333);
$font-size-small:               ($font-size-base-pixels * 0.6666);

// Line Height
// I usually use pixels for the base line height so I can create a whole number baseline (below)
$line-height-base:              1.666rem !default;

// Baseline
// I usually make my baseline a divisible number of the base line height. Then all my other vertical margins, paddings, and line heights are a multiple of this baseline to create a vertical rhythm.
$baseline: 						0.333rem;

// Bottom margin for paragraphs
$p-margin-bottom:               1.333rem;

// Headings
$headings-font-family:          inherit;
$headings-font-weight:          700;

// Body Copy
$body-font-family:				$font-family-serif;

// -------------------------------------------------------------------------
// BORDERS
// -------------------------------------------------------------------------

$border-radius:					4px;

// -------------------------------------------------------------------------
// ANIMATIONS
// -------------------------------------------------------------------------

$fade:							.15s ease-out;
$movement:						.15s ease-in-out;

// -------------------------------------------------------------------------
// HEADING REPLICATION
// -------------------------------------------------------------------------

// For replicating heading sizes, copied from "Typography" sheet
// Useful for keeping ALL typography within your modular scale
%h1  {
    @include rem(font-size, 60px);
}

%h2  {
    @include rem(font-size, 48px);
}

%h3  {
    @include rem(font-size, 36px);
}

%h4  {
    @include rem(font-size, 24px);
}

%h5  {
    @include rem(font-size, 21px);
}

%h6  {
    @include rem(font-size, 18px);
}