// -------------------------------------------------------------------------
// PATTERN LIBRARY
// -------------------------------------------------------------------------

// This is the styling for the default pattern library that comes with Pear. Delete this entire sheet if you're not using it.

.pattern {
    @include rem(margin, 3rem 0 3rem 0);
}

#ptn-colors {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.ptn-container {
    @include rem(width, 150px);
    display: inline-block;
    @include rem(margin, 30px 30px 0 0);
    text-align: center;
    font-style: italic;
}

.ptn-color {
    @include rem(height, 150px);
}

.ptn-container p {
    margin: 0;
}

#primary {
    background-color: $color-blue;
}

#secondary {
    background-color: $color-green;
}

#tertiary {
    background-color: $color-orange;
}

#accent {
    background-color: $color-red;
}

form {
    width: 50%;
    @media (max-width: 850px) {
        width: 100%;
    }
}

input, 
textarea {
    @include rem(margin-bottom, 2rem);
}

.input-checks-block {
    @include rem(margin-bottom, 2rem);
}

.input-checks {
    display: block;
    @include rem(margin-bottom, .5em);
}

.search-form {
    position: relative;

    input {
        @include rem(padding-left, 30px);
    }
}

.search-icon {
    position: absolute;
    @include rem(top, 15px);
    @include rem(left, 7px);
    @include rem(width, 34px);
    @include rem(height, 34px);
    text-align: center;
    color: lighten($color-text, 7%);
}