// -------------------------------------------------------------------------
// ALL CODE
// -------------------------------------------------------------------------

code,
kbd,
pre,
samp {
    font-family: $font-family-monospace;
}

// -------------------------------------------------------------------------
// INLINE CODE
// -------------------------------------------------------------------------

code {
    @include rem(padding, 2px 4px);
    max-width: 100%;
    font-size: 90%;
    color: inherit;
    background-color: $black-10;
    white-space: nowrap;
    @include rem(border-radius, $border-radius);
}

// -------------------------------------------------------------------------
// BLOCKS OF CODE
// -------------------------------------------------------------------------

pre {
    display: block;
    @include rem(padding, 10px 15px);
    @include rem(margin, $p-margin-bottom 0);
    max-width: 100%;
    @include rem(font-size, $font-size-small);
    @include rem(line-height, $line-height-base);
    word-break: break-all;
    word-wrap: break-word;
    color: $color-text;
    background-color: $black-10;
    border: 1px solid $black-30;
    @include rem(border-radius, $border-radius);
    
    // Account for some code outputs that place code tags in `pre` tags
    code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        word-wrap: normal;
        white-space: -moz-pre-wrap;
        white-space: pre-wrap; // http://css-tricks.com/almanac/properties/w/whitespace
        background-color: transparent;
        border-radius: 0;
    }
}

// For scrollable blocks of code use this class
.pre-scrollable {
    @include rem(max-height, 350px);
    overflow-y: scroll;
}