// -------------------------------------------------------------------------
// ALL MEDIA
// -------------------------------------------------------------------------

// Fluid media
img, 
embed, 
object, 
video {
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
    display: block;
    max-width: 100%; // Part 1: Set a maximum relative to the parent
}

// Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440
audio,
canvas,
img,
video {
    vertical-align: middle;
}

// -------------------------------------------------------------------------
// IMAGES
// -------------------------------------------------------------------------

// http://css-tricks.com/ie-fix-bicubic-scaling-for-images/
img {
    vertical-align: middle;
    font-style: italic; // So that `alt` text is visually offset if images don’t load.
    -ms-interpolation-mode: bicubic;
    
    a & {
        border: 0; // Remove blue border on IE
    }
}

// Images will not be fluid if you specify width and/or height, so:
img[width],
img[height] {
    max-width: none;
}

// Images in `figure` elements
figure > img {
    display: block;
}