// -------------------------------------------------------------------------
// NOTES
// -------------------------------------------------------------------------

// Don't randomly pick font sizes; choose a type hierarchy in a meaningful way: 
// http://alistapart.com/article/more-meaningful-typography
// http://typecast.com/blog/contrast-through-scale
// Here's an excellent calculator for doing this: http://modularscale.com/

// The default scale is 18, 21, 24, 36, 48, 60

// -------------------------------------------------------------------------
// FONT-FACE
// -------------------------------------------------------------------------

//   Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator

//   Below is the proper syntax for an @font-face file. Just create a "fonts" folder at the root, copy your FontName into code below and remove comment brackets.

//   @font-face {
//       font-family: 'FontName';
//       src: url('../fonts/FontName.eot');
//       src: url('../fonts/FontName.eot?iefix') format('eot'),
//            url('../fonts/FontName.woff') format('woff'),
//            url('../fonts/FontName.ttf') format('truetype'),
//            url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
//       font-weight: normal;
//       font-style: normal; }

// The default is hyphenation: see _base.scss
// http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation

// -------------------------------------------------------------------------
// HEADINGS
// -------------------------------------------------------------------------

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin-top: 0;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: 1; // this fixes huge spaces when a heading wraps onto two lines
	text-rendering: optimizeLegibility; // voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering
}

h1  {
    margin-bottom: 0.495em;
    @include rem(font-size, 60px);
}

h2  {
    margin-bottom: 0.61875em;
    @include rem(font-size, 48px);
}

h3  {
    margin-bottom: 0.825em;
    @include rem(font-size, 36px);
}

h4  {
    margin-bottom: 1.2375em;
    @include rem(font-size, 24px);
}

h5  {
    margin-bottom: 1.4142857142857141em; // measure( base font-size(18) * base line-height(1.65) ) / current font-size(21) = margin-bottom(1.4142857142857141)
    @include rem(font-size, 21px);
}

h6  {
    margin-bottom: 1.65em; // measure( base font-size(18) * base line-height(1.65) ) / current font-size(18) = margin-bottom(1.65)
    @include rem(font-size, 18px);
}

// Margin-bottom for headings explanation:
// Makes sure that there's always one unit of measure's worth of space between stuff for headings. This is better than spacing using line-height because of the wrapping issue where we have wrapping onto 2 lines with a high line-height.

// -------------------------------------------------------------------------
// PARAGRAPHS
// -------------------------------------------------------------------------

// bottom margin for paragraphs
p {
	margin: auto auto $p-margin-bottom;
}

p, ul, ol {
    font-family: $font-family-serif;
}

// -------------------------------------------------------------------------
// LINKS
// -------------------------------------------------------------------------

a {
    color: $color-link;
    text-decoration: none;
    line-height: inherit;
    @include transition(color $fade);
    outline: 0;
}

a:hover {
    color: $color-link-hover;
    border-bottom: 1px solid;
}

p a, 
p a:visited { 
    line-height: inherit; 
}

// -------------------------------------------------------------------------
// LISTS
// -------------------------------------------------------------------------

// Unordered and Ordered lists
// Take off bottom margin from nested lists
ul,
ol {
    margin-top: 0;
    margin-bottom: $p-margin-bottom;

    ul,
    ol {
        margin-bottom: 0;
    }
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0; // Undo browser default
}

// -------------------------------------------------------------------------
// BLOCKQUOTES
// -------------------------------------------------------------------------

blockquote:before, 
blockquote:after, 
q:before, 
q:after {
    content: "";
    content: none;
}

blockquote {
    max-width: 100%; // Prevents it from breaking out of container
    margin: $p-margin-bottom 0;
    padding-left: $p-margin-bottom;
    border-left: 2px solid $color-blue;
}

blockquote, 
q {
    @include rem(font-size, $font-size-large);
    quotes: none;
}

// Undo browser default styling
cite { 
    font-style: normal; 
}

// -------------------------------------------------------------------------
// HR
// -------------------------------------------------------------------------

// A better looking default horizontal rule
hr {
    display: block;
    height: 1px;
    margin: $p-margin-bottom 0;
    padding: 0;
    border: 0;
    border-top: 1px solid $black-20;
}

// -------------------------------------------------------------------------
// STRUCTURAL TAGS
// -------------------------------------------------------------------------

em,
i {
    font-style: italic;
    line-height: inherit; 
}

strong,
b {
    line-height: inherit; 
}

small, 
.small {
    @include rem(font-size, $font-size-small);
    font-weight: normal;
    line-height: 1;
}

// Remove underlines from potentially troublesome elements.
u, 
ins {
    text-decoration: none;
}