// Some good practices for base styles

*,
*:before,
*:after {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important; 
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-family-base;
    font-size: $font-size-base-pixels;
    font-weight: normal;
    line-height: $line-height-base;
    color: $color-text;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased; // Fix for webkit rendering
    // Ala Trent Walton (http://trentwalton.com/2011/09/07/css-hyphenation):
    -webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
    word-wrap: break-word;
    background-color: #fff !important;
    // For now, this is !important because the ::selection (below) affects the background color in IE
    @extend %clearfix;
}

// For Browsehappy prompt
.browsehappy {
    margin: 0.333rem 0;
    padding: 0.333rem 0;
    color: $color-text;
    background: $black-20;
}

// Remove text-shadow in selection highlight: h5bp.com/i
// These selection rule sets have to be separate.
// Color is set by default to your primary brand color.
::-moz-selection {
    color: white;
    text-shadow: none;
    background-color: $color-primary;
}
::selection {
    color: white;
    background-color: $color-primary;
    text-shadow: none;
}
img::selection { 
    background: transparent; 
}
img::-moz-selection { 
    background: transparent; 
}