// -------------------------------------------------------------------------
// NOTES
// -------------------------------------------------------------------------

// Use the .btn class and then .btn type classes for further options, e.g.:
//    <a href="#" class="btn btn-primary">Get Started</a>
//    <a href="#" class="btn btn-secondary">More Info</a>
//    <button type="button" class="btn btn-primary">Get Started</button>

// -------------------------------------------------------------------------
// BASE STYLING
// -------------------------------------------------------------------------

.btn,
.btn:visited,
button,
button:visited,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    vertical-align: middle; // Line different size buttons up nicely
    display: inline-block; // Allow us to better style box model properties
    margin: 0;
    font-family: inherit;
    line-height: $line-height-base;
    text-align: center;
    text-decoration: none;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    appearance: none;
    white-space: nowrap; //Stop buttons wrapping and looking broken
}

.btn:hover, 
.btn:focus,
button:hover, 
button:focus,
input[type="submit"]:hover, 
input[type="submit"]:focus,
input[type="reset"]:hover, 
input[type="reset"]:focus,
input[type="button"]:hover, 
input[type="button"]:focus {
    text-decoration: none; // No underlines
}

.btn:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    outline: none;
    background-image: none;
}

// Fix for odd Mozilla border & padding issues
.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}