// -------------------------------------------------------------------------
// NORMALIZATION
// -------------------------------------------------------------------------

// Remove default fieldset styles.
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    display: block;
    width: 100%;
    line-height: inherit;
    white-space: normal;
}

label {
    display: inline-block;
    cursor: default;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
}

select:focus, 
input:focus, 
textarea:focus {
    outline: 0;
}

input,
button, 
select,
label, {
    vertical-align: middle;
}

// Adjust output element
output {
    display: block;
    vertical-align: middle;
}

// -------------------------------------------------------------------------
// INPUTS AND TEXTAREAS
// -------------------------------------------------------------------------

// Reset height for textareas
// Allow only vertical resizing of textareas.
textarea {
    height: auto;
    resize: vertical;
}

// Set the height of select and file controls to match text inputs
// Normalize file input width
input[type=file] {
    display: block;
    width: 100%;
}

// Fix for Chrome number input
// Setting certain font-sizes causes the `I` bar to appear on hover of the bottom increment button.
// See https://github.com/twbs/bootstrap/issues/8350 for more.
input[type=number] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        height: auto;
    }
}

input, 
textarea {
    vertical-align: middle;
    display: block;
    max-width: 100%; // Prevents them from breaking out of container
    font-size: inherit;
    font-family: inherit;
    color: $color-text;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
}

input:focus, 
textarea:focus {
    background-color: #fff;
    border-color: $black-30;
}

// -------------------------------------------------------------------------
// SELECTS
// -------------------------------------------------------------------------

select {
    height: 2rem;
    width: 100%;
    min-width: 25%;
    color: $color-text;
    text-transform: none;
    border: 1px solid $black-20;
    cursor: pointer;
}

// Fix optgroup Firefox bug per https://github.com/twbs/bootstrap/issues/7611
select optgroup {
    font-size: inherit;
    font-style: inherit;
    font-family: inherit;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
    height: auto;
}