// -------------------------------------------------------------------------
// NOTES
// -------------------------------------------------------------------------

// Don't randomly pick font sizes; choose a type hierarchy in a meaningful way:
// http://alistapart.com/article/more-meaningful-typography
// http://typecast.com/blog/contrast-through-scale
// Here's an excellent calculator for doing this: http://modularscale.com/
// Great tool for choosing font sizes: http://type-scale.com/

// The default scale is 18, 21, 24, 36, 48, 60

// -------------------------------------------------------------------------
// FONT-FACE
// -------------------------------------------------------------------------

//   Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator

//   Below is the proper syntax for an @font-face file. Just create a "fonts" folder at the root, copy your FontName into code below and remove comment brackets.

//   @font-face {
//       font-family: 'FontName';
//       src: url('../fonts/FontName.eot');
//       src: url('../fonts/FontName.eot?iefix') format('eot'),
//            url('../fonts/FontName.woff') format('woff'),
//            url('../fonts/FontName.ttf') format('truetype'),
//            url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
//       font-weight: normal;
//       font-style: normal; }

// -------------------------------------------------------------------------
// NORMALIZATION
// -------------------------------------------------------------------------

// The default is hyphenation: see _base.scss
// http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none; // Safari 5.1 thru 6, iOS 4.2 thru 6
  -moz-hyphens: none; // Firefox 16 thru 20
  -ms-hyphens: none; // IE10
  -o-hyphens: none;
  hyphens: none;   // W3C standard
}

// -------------------------------------------------------------------------
// HEADINGS
// -------------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1.666rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: 1; // this fixes huge spaces when a heading wraps onto two lines
	text-rendering: optimizeLegibility; // voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering
}

h1  {
    @include rem(font-size, 60px); // 60 = 18 × 3.3333
}

h2  {
    @include rem(font-size, 48px); // 48 = 18 × 2.6667
}

h3  {
    @include rem(font-size, 36px); // 36 = 18 × 2
}

h4  {
    @include rem(font-size, 24px); // 24 = 18 × 1.3333
}

h5  {
    @include rem(font-size, 21px); // 21 = 18 × 1.1667
}

h6  {
    @include rem(font-size, 18px); // 18 = 18 × 1
}

// The margin on the bottom makes sure that there's always one unit of measure's worth of space between stuff for headings. This is better than spacing using line-height because of the wrapping issue where we have wrapping onto 2 lines with a high line-height.

// -------------------------------------------------------------------------
// PARAGRAPHS
// -------------------------------------------------------------------------

// bottom margin for paragraphs
p {
	margin: auto auto $p-margin-bottom;
}

p,
ul,
ol {
    font-family: $body-font-family;
}

// -------------------------------------------------------------------------
// LINKS
// -------------------------------------------------------------------------

a {
    color: $color-link;
    line-height: inherit;
    outline: 0;
}

a:hover {
    color: $color-link-hover;
}

p a,
p a:visited {
    line-height: inherit;
}

// -------------------------------------------------------------------------
// LISTS
// -------------------------------------------------------------------------

// Unordered and Ordered lists
// Take off bottom margin from nested lists
ul,
ol {
    margin-top: 0;
    margin-bottom: $p-margin-bottom;
    padding-left: 2rem;

    ul,
    ol {
        margin-bottom: 0;
    }
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0; // Undo browser default
}

// -------------------------------------------------------------------------
// BLOCKQUOTES
// -------------------------------------------------------------------------

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

blockquote {
    max-width: 100%; // Prevents it from breaking out of container
    margin: $p-margin-bottom 0;
    padding-left: $p-margin-bottom;
    border-left: 2px solid $black-20;
}

blockquote,
q {
    font-size: $font-size-large;
    quotes: none;
}

// Undo browser default styling
cite {
    font-style: normal;
}

// -------------------------------------------------------------------------
// HR
// -------------------------------------------------------------------------

// A better looking default horizontal rule
hr {
    display: block;
    height: 1px;
    margin: $p-margin-bottom 0;
    padding: 0;
    border: 0;
    border-top: 1px solid $black-20;
}

// -------------------------------------------------------------------------
// STRUCTURAL TAGS
// -------------------------------------------------------------------------

em,
i {
    font-style: italic;
    line-height: inherit;
}

strong,
b {
    line-height: inherit;
}

small,
.small {
    @include rem(font-size, $font-size-small);
    font-weight: normal;
    line-height: 1;
}

// Remove underlines from potentially troublesome elements.
u,
ins {
    text-decoration: none;
}

// -------------------------------------------------------------------------
// OPENTYPE
// -------------------------------------------------------------------------

// Enable OpenType features

// Paragraphs. OpenType ligatures and oldstyle figures enabled if available. Commented out by default.

/*
p {
    -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -moz-font-feature-settings: 'kern=1, onum=1, liga=1';
    -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
}

// Headings. OpenType ligatures, discretionary ligatures and lining figures enabled if available.
h1, h2, h3, h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig=1, liga=1, lnum=1, kern=1';
    -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
}

// Lists.
ul, ol {
    li {
        -moz-font-feature-settings: 'kern=1, onum=1, liga=1';
        -ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
        -webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
        -o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
        font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    }
}

// Real small caps.
.small-caps {
    font-variant: small-caps;
    text-transform: lowercase;
    -moz-font-feature-settings: 'smcp=1, kern=1';
    -ms-font-feature-settings: 'smcp' 1, 'kern' 1;
    -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
    -o-font-feature-settings: 'smcp' 1, 'kern' 1;
    font-feature-settings: 'smcp' 1, 'kern' 1;
}

// Ascending and descending numbers with OpenType.
.oldstyle-numerals {
    -moz-font-feature-settings: 'onum=1, kern=1';
    -ms-font-feature-settings: 'onum' 1, 'kern' 1;
    -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
    -o-font-feature-settings: 'onum' 1, 'kern' 1;
    font-feature-settings: 'onum' 1, 'kern' 1;
}
*/