.border-full {
    border-style: solid;
    border-width: 1px;
    border-color: $color-border;
}

.border-top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: $color-border;
}

.border-right {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: $color-border;
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $color-border;
}

.border-left {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: $color-border;
}

// Apply a radius
.rounded { border-radius: $borderRadius; }

// Make it a circle
.circle { border-radius: 50%; }

