// Base button styles
// -------------------------------------------------------------------
.btn {
    background-image: none; // Reset unusual Firefox-on-Android default style: https://github.com/necolas/normalize.css/issues/214
    border-radius: $border-radius;
    border-style: solid;
    border-width: $border-width;
    cursor: pointer;
    display: inline-block; // Allow us to better style box model properties
    font-family: $font-family--ui;
    font-size: 1rem;
    line-height: $line-height--base;
    margin-bottom: 0; // For input.btn
    padding: $button-padding;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: background-color $fade, background $fade, color $fade, border $fade;
    user-select: none;
    vertical-align: middle; // Line different size buttons up nicely
    white-space: nowrap; // Stop buttons wrapping and looking broken
    -webkit-appearance: none;
            appearance: none;

    &:hover,
    &:focus {
        outline: 0;
        text-decoration: none;
    }

    &:active {
        outline: 0;
        background-image: none;
    }

    &.disabled,
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        cursor: not-allowed !important;
        opacity: 1; // iOS fix for unreadable disabled content
        pointer-events: none; // Future-proof disabling of clicks
    }

    @media screen and (max-width: $breakpoint--sm) {
        display: block;
        margin-bottom: $space-1;
    }
}

a.btn {
    &.disabled,
    fieldset[disabled] & {
        pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
}


// Button sizes
// -------------------------------------------------------------------
.btn--sm {
    font-size: $h6;
    padding:$button-padding--sm;
}


// Button groups
// -------------------------------------------------------------------
.btn-group>.btn {
    float: left;
    border-radius: 0;
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: -1px;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.btn-group>.btn:first-child {
    margin-left: 0;
}

.btn-group>.btn:last-child:not(:first-child) {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}


// Button skins
// -------------------------------------------------------------------
// Default button
.btn--default {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white;

    &:hover,
    &:focus {
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
    }

    &:active {
        background-color: darken($primary-color, 20%);
        border-color: darken($primary-color, 20%);
    }
}

// Outline button
.btn--outline,
.btn--outline:visited {
    background-color: transparent;
    border-color: $border-color;
    border-width: $border-width;
    color: $text-color;

    &:hover,
    &:focus {
        background-color: transparent;
        border-color: $gray-5;
    }

    &:active {
        background-color: transparent;
        border-color: $gray-2;
    }
}

// Dark background button
.btn--dark-bg {
    background-color: transparent;
    border-color: $white;
    border-width: $border-width;
    color: $white;

    &:hover,
    &:focus {
        background-color: $white;
        border-color: $white;
        color: $text-color;
    }

    &:active {
        background-color: $gray-1;
        border-color: $gray-1;
        color: $text-color;
    }
}


// Dropdowns
// ----------------------------------------------------------------
// Parent element that contains both toggle and dropdown itself
.dropdown-parent {
    position: relative;

    // Style the icon in the dropdown button
    i {
        line-height: 1.5rem;
        margin-right: -3px;
    }
}

// Base styles for dropdown, left-aligned by default
// Note: Set specific widths of individual dropdowns as needed
.dropdown {
    background-color: $white;
    box-shadow: $full-shadow;
    display: none; // none be default, `block` on open
    float: left;
    left: 0;
    margin-top: 0;
    min-width: 5rem;
    position: absolute;
    top: 100%;
    z-index: 6;
    width: 15rem;

    // Set max height with scroll
    overflow: hidden;
    overflow-y: auto;
    max-height: 16rem;

    // Some styling for list dropdowns
    li {
        cursor: pointer;
        border-bottom: 1px solid $border-color;

        a,
        span,
        p,
        div {
            padding: $space-1;
            display: block;
        }

        .link {
            text-decoration: none;
            color: $text-color;
        }

        a:hover {
            background-color: $gray-1;
        }

        a:active {
            background-image: none;
            color: $text-color;
            outline: 0;
        }
    }

    li:hover { background-color: $gray-1; }

    li:last-child { border-bottom: none; }

    // Some styling for dd-option
    div.dd-option {
        cursor: pointer;
        padding: 0.5rem;

        &:hover {
            background: $gray-1;
        }

        &.hover {
            background: $gray-1;
        }
    }

    // Responsive
    // @media screen and (max-width: $breakpoint--sm) {
    //     width: 100% !important;
    //     max-width: 100% !important;
    // }
}

// Dropdown alignments
.dropdown--top {
    bottom: 100%;
    top: auto;
}

.dropdown--right {
    left: auto; // Override default from `.dropdown`
    right: 0;
}
