// Base code styles
// -------------------------------------------------------------------
// Inline code
.code {
    background-color: $code-bg-color;
    color: $code-color;
    max-width: 100%;
    padding: $baseline/2 $baseline;
    white-space: pre;
}

// Code block
.pre {
    background-color: $code-bg-color;
    color: $code-color;
    display: block;
    line-height: $line-height--base;
    margin-bottom: $p-mb;
    max-width: 100%;
    overflow-x: auto;
    padding: $code-padding;
    word-break: break-all;
    word-wrap: break-word;

    // Account for some code outputs that place code tags in pre tags
    .code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
        border-radius: 0;
    }
}
