// Normalization
// -------------------------------------------------------------------
// Make font family consistent
code, kbd, pre, samp { font-family: $code-font-family; }


// Base code styles
// -------------------------------------------------------------------
.inline-code {
  background-color: $code-background-color;
  color: $code-color;
  max-width: 100%;
  padding: $baseline/2 $baseline;
}

.code-block {
  background-color: $code-background-color;
  color: $code-color;
  display: block;
  line-height: $base-line-height;
  margin-bottom: $body-text-bottom-margin;
  max-width: 100%;
  padding: $large-ui-padding;
  word-break: break-all;
  word-wrap: break-word;
}

