// Text colors
// -----------------------------------------------------------------------------
.white-text                   { color: $white; }
.lighter-gray-text            { color: $lighter-gray; }
.light-gray-text              { color: $light-gray; }
.gray-text                    { color: $gray; }
.dark-gray-text               { color: $dark-gray; }
.darker-gray-text             { color: $darker-gray; }
.primary-brand-color-text     { color: $primary-brand-color; }
.secondary-brand-color-text   { color: $secondary-brand-color; }
.brand-accent-color-text      { color: $brand-accent-color; }

// Background colors
// -----------------------------------------------------------------------------
.white-background                 { background-color: $white; }
.lighter-gray-background          { background-color: $lighter-gray; }
.light-gray-background            { background-color: $light-gray; }
.gray-background                  { background-color: $gray; }
.dark-gray-background             { background-color: $dark-gray; }
.darker-gray-background           { background-color: $darker-gray; }
.primary-brand-color-background   { background-color: $primary-brand-color; }
.secondarybrand-color-background  { background-color: $secondary-brand-color; }
.brand-accent-color-background    { background-color: $brand-accent-color; }

