.txt-white           { color: $white; }
.txt-gray-lighter    { color: $gray-lighter; }
.txt-gray-light      { color: $gray-light; }
.txt-gray            { color: $gray; }
.txt-gray-dark       { color: $gray-dark; }
.txt-gray-darker     { color: $gray-darker; }
.txt-brandPrimary    { color: $color-brandPrimary; }
.txt-brandSecondary  { color: $color-brandSecondary; }
.txt-brandAccent     { color: $color-brandAccent; }

.bg-white            { background-color: $white; }
.bg-gray-lighter     { background-color: $gray-lighter; }
.bg-gray-light       { background-color: $gray-light; }
.bg-gray             { background-color: $gray; }
.bg-gray-dark        { background-color: $gray-dark; }
.bg-gray-darker      { background-color: $gray-darker; }
.bg-brandPrimary     { background-color: $color-brandPrimary; }
.bg-brandSecondary   { background-color: $color-brandSecondary; }
.bg-brandAccent      { background-color: $color-brandAccent; }

