// Display utilities
// -----------------------------------------------------------------------------
.block        { display: block; }
.inline-block { display: inline-block; }
.inline       { display: inline; }

// Make the element a circle
.circle { border-radius: 50%; }

// Some mobile utilities
// `show-on-mobile` displays the element only on mobile devices
// `mobile-block` makes the element go display block on mobile devices
.show-on-mobile { display: none !important; }

@media screen and (max-width: $small-breakpoint) {
    .show-on-mobile,
    .block-on-mobile {
        display: block !important;
    }
    
    .hide-on-mobile {
        display: none !important;
    }
}

