// Base form styles
// -------------------------------------------------------------------
// Apply `.form-control` to any of the following form controls:
// select
// textarea
// input (of any type)
.form-control {
    background-image: none; // Reset unusual Firefox-on-Android default style
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    color: $text-color;
    display: block;
    font-family: $font-family--ui;
    font-size: 1rem;
    line-height: $line-height--base;
    max-width: 100%;
    padding: $form-padding;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
}

.label {
    cursor: default;
    display: inline-block;
    max-width: 100%; // Force IE8 to wrap long content
}

.legend {
    display: block;
    white-space: normal;
    width: 100%;
}


// Form layouts
// -------------------------------------------------------------------
.form--stacked {
    .input,
    .select,
    .radio,
    .checkbox,
    .textarea,
    .label {
        display: block;
        width: 100%;
    }
}

.form--inline {
    .form-control {
        display: inline-block;
        vertical-align: middle;
        width: auto; // Prevent labels from stacking above inputs
                     // in `.form-group`
    }

    .radio,
    .checkbox {
        display: inline-block;
        vertical-align: middle;
    }
}


// Select
// ----------------------------------------------------------------
.select {
    color: $text-color;
    display: block;
    position: relative;
}

.select select {
    background-color: $white;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    color: $text-color;
    cursor: pointer;
    display: inline-block;
    font-family: $sans-serif;
    line-height: $line-height--base;
    margin: 0;
    outline: 0;
    padding: $form-padding;
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    >option {
        background-color: $white;
    }
}

// Dropdown arrow
.select:after {
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 13px;
    top: 50%;
    width: 0;
}


// Checkboxes & radios
// -------------------------------------------------------------------
.control {
    color: $text-color;
    cursor: pointer;
    display: block;
    padding-left: 1.6rem;
    position: relative;
}

.control input {
    opacity: 0;
    position: absolute;
    z-index: -1; // Put the input behind the label so it doesn't overlay text
}

.control-indicator {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    border: 2px solid $gray-3;
    color: $text-color;
    display: block;
    font-size: 65%;
    height: 19px;
    left: 0;
    position: absolute;
    text-align: center;
    top: .1rem;
    width:  19px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.control input:hover ~ .control-indicator { border-color: $gray-5; }

// Checked state
.control input:checked ~ .control-indicator {
    background-color: $primary-color;
    color: $white;
    transition: $fade;
    border: 2px solid $primary-color;
}

// Active
.control input:active ~ .control-indicator {
    background-color: $primary-color;
    color: $white;
    transition: $fade;
    border: 2px solid $primary-color;
}

// Checkbox modifiers
.checkbox .control-indicator { border-radius: $border-radius; }
.checkbox input:checked ~ .control-indicator {
    background-image: url(../img/check.svg);
    transition: $fade;
}

// Radio modifiers
.radio .control-indicator { border-radius: 50%; }
.radio input:checked ~ .control-indicator {
    background-image: url(../img/radio.svg);
    transition: $fade;
}


// Placeholder styling
// -------------------------------------------------------------------
::-webkit-input-placeholder {
    color: $gray-4;
    -webkit-font-smoothing: antialiased;
}
::-moz-placeholder {
    color: $gray-4;
    -moz-osx-font-smoothing: grayscale;
}
:-ms-input-placeholder {
    color: $gray-4;
}
