// Layout utilities
// -----------------------------------------------------------------------------
.float-left  { float: left; }
.float-right { float: right; }
.float-none  { float: none; }

.full-width { width: 100%; }
.half-width { width: 50%; }
.fit-within { max-width: 100%; }

.clearfix {
	*zoom:1;

	&:before,
	&:after {
	    content: "";
	    display: table;
	}

	&:after {
	    clear: both;
	}
}

