// Normalization
// -------------------------------------------------------------------
ul,
ol {
    margin-bottom: $p-mb;

  ul,
  ol {
    margin-bottom: 0; // Take off bottom margin from nested lists.
  }
}

// Define styling for terms.
dt { font-weight: bold; }

// Undo browser default.
dd { margin-left: 0; }


// Base list styles
// -------------------------------------------------------------------
// Remove bullets
.no-bullets { list-style: none; }

// Indented list
.list--indented { padding-left: $baseline*6; }

// Inline list – usually used with `.no-bullets`
.list--inline {
  li {
    display: inline-block;
  }
}
